### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
.history
*.vsix
.ionide
