/* Page Setup */
html { 
	height: 100%;
	margin: 0;
	background-color: #000000;
	background-image: url(images/analogconsole2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

body{
	height: 100%;
	margin: 0;
 	font-family: 'Raleway', sans-serif;
	font-size: 16px; 
	font-weight: 400; 
	color: #ffffff; 
	line-height: 1.5	
}

.page-wrap{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.page-content{
	flex-grow: 1; 
}

.index-content{
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

.site-header{
	display: flex;
	justify-content: flex-end;
	font-size: 1.0rem;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	/* background: rgba(0, 0, 0, 0.5)*/
}

.site-footer{
	padding: 1rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.5rem; 
	color: #c0c0c0c0;
	text-align: left;
	
}

/* This borders the nav buttons */
.boxed {
  border: 2px solid #FFFFFF ;
  padding: 8px 2px 8px 2px;
}
.unboxed {
  border: 2px solid transparent ;
  padding: 8px 2px 8px 2px;
}

/* Sections and Headers */

.big-name{
	display: flex;
	flex-direction: column;
	line-height: 1;
	font-size: 5rem;
	font-weight: 800;
	margin: 0;
}

.little-name{
	font-size: 1.5rem;
	font-weight:400;
}

.big-links{
	max-width: 500px;
	padding-top: 2rem;
	padding-left: 0.33rem;
	padding-right: 0.33rem;
	font-size: 2.5rem;
}

.page-title {
	font-size: 2rem; 
	font-weight: 800; 
	margin-bottom: 0.25rem;
}
.section-title {
	font-size: 1.5rem; 
	font-weight: 700; 
	margin-bottom: 1rem;
}
.subheader{
	font-size: 1rem; 
	font-weight:600; 
	margin: 0;
}
.transbox {
	margin: 0 auto;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 960px;
	background: rgba(0, 0, 0, 0.5)
}
.transbox-header {
	margin: 0 auto;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 960px;
	background: rgba(0, 0, 0, 0.5)
}
.experience-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.experience-dates{
	font-size: 1.5rem;
	font-weight:400;
	text-align: right;
}
.experience-body{
	display: block;
	align-items: center;
}
.photo-caption{
	font-size: 0.75rem;
	line-height: 1.0;	
	text-align: center;
	padding-bottom: 0.5rem;

}
.logo-camp{
	float: right;
	width: 110px;
	margin: 0px 5px 10px 20px;
}
.logo-iatse{
	float: right;
	width: 120px;
	margin: 0px 0px 20px 0px;
}

.video-wrapper{
	padding-top: 56.25%;
	position: relative;
	margin-bottom: 1.5rem;
	max-width: 960px;
}
.video-player{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.full-content{
	max-width: 960px;
	margin: 0 auto;
}
.full-content img{
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
}

/* Oh boy here comes some modern web design, what a flex! */
.links-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 2rem;
}
.links-grid a{
	flex: 0 1 auto;
	text-align: center;
}.logos-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 2rem;
	padding-top: 2rem;
}
.logos-grid a{
	flex: 0 1 auto;
	text-align: center;
}
.badge-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
}
.badge-grid a{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	text-align: center;
}
.badge-item{
	display: inline-block;
	max-width: 100%;
	height: auto;
	hover: opacity: 0.9;
}
.badge-rect{
	max-width: 220px;
}
.badge-sqr{
	max-width: 131px;
}
.badge-logo{
	max-height: 2rem;
}
.thumb-rect{
	max-width: 300px;
}


/* href link  behavior */
a:link    {color:white; background-color:transparent; text-decoration:none}
a:visited {color:white; background-color:transparent; text-decoration:none}
a:hover   {color:white; background-color:transparent; text-decoration:line-through}
a:active  {color:white; background-color:transparent; text-decoration:line-through}

a.nav:link    {color:white; background-color:transparent; text-decoration:none}
a.nav:visited {color:white; background-color:transparent; text-decoration:none}
a.nav:hover   {color:#ffffb3; background-color:transparent; text-decoration:none}
a.nav:active  {color:#ffffb3; background-color:transparent; text-decoration:none}

.transbox2 {
	background: rgba(0, 0, 0, 0.3)
}

/* Media Queries for Responsive Design */

@media (max-width: 920px){
	.page-wrap{
	min-height: 100dvh;
	}
	
	.page-content{
	padding: 0.25rem 1rem;
	}
	
	.big-name{
	font-size: 4rem;
	padding-top: 1rem;
	}
	
	.little-name{
	font-size: 1.25rem;
	}
	
	.big-links{
	font-size: 2rem;
	padding-top: 1.25rem;
	}
	
	.badge-rect{
	max-width: 210px;
	}
	
	.badge-sqr{
	max-width: 125px;
	}

@media (max-width: 650px){	
	body{
		font-size: 17px;
		line-height: 1.6;
	}
	
	.page-wrap{
	min-height: 100dvh;
	}

	.index-content, .page-content{
		padding: 0rem 0.5rem; 
	}
	
	.site-header{
	padding-bottom: 0rem;
	}
	
	.big-name{
		font-size: 3.5rem;
	}
	
	.little-name{
		font-size: 1.2rem;
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.big-links{
		font-size: 1.75rem;
		max-width: 100%;
		padding-top: 1.25rem;
	}
	
	.page-title {
	font-size: 1.75rem; 
	}
	
	.section-title {
	font-size: 1.4rem; 
	}
	
	.experience-dates{
	font-size: 1.4rem;
	}
	
	.links-grid, .logos-grid{
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 0.75rem;
	}

	.badge-grid{
	gap: 0.5rem;
	}
	
	.badge-rect{
	max-width: 150px;
	}
	
	.badge-sqr{
	max-width: 89px;
	}
	
	.logo-camp{
		width: 100px;
		margin: 10px 0px 20px 20px;
	
	}.logo-iatse{
		width: 110px;
	}
		
}

/*

	.training-certs{
		max-width: 100%; 
		margin: 0 auto;
	}
	
	.transbox{
		max-width: 100%;     
		margin: 0 auto;
	}

*/